.container{
    width: 70%;
    margin: auto;
    background:  #cccccc ;
    
    height: auto;
    font-size: 0.9 em;
    margin-top: 30px;
    margin-left: auto;  
    margin-right: auto;
    padding-top: 25px;
    box-shadow: 0px 0px 10px 5px rgba(44, 44, 48, 0.856);
    transition: .3s;
}

.new-post{
    width: 60%;
    min-height: 50px;
}
.form{
    margin: auto;
    padding: 30px;
}

.form  *{
    margin: 10px;
}

body{
    background-color: #666666;
}
/* body{
    background-color: black;
    color: white;
}

input{
    color: white;
} */