#post-content{
    width: 100%;
    height: 10%;
    font-size: 15px;
   margin: auto;
   min-height: 80px;

}

#create-post{
    float:right;
    padding:10px;
    margin: auto;
    margin-top:5px;
    width: 50%;
}

#profile-button{
   margin: auto;

   background: #cccccc;
   opacity: 0%;
}
span.side-icons{
    margin-left: 20px;
    max-width: 80px;
}

.icon{
    width:100%;
    margin: auto;
   background: #cccccc;
   opacity: 0%;
   min-width: 50px;
   min-height: 50px;
   width: 0;
}

.buttons{
  margin: 10px;
}

.profile-header{
    float:right;
    margin-right: 10%;
}

.author-name{
    font-size: 18px;
    margin: 10px;
    font-weight: bold;
}

.post-content{
    margin: 20px;
    border: 1px;
}
